*{
    text-decoration: none;
    list-style: none;
    color: rgb(0, 0, 0);

}
/* <-----------------> navBar <-----------------> */

.NavBar{
    position: absolute ; 
    width: 99%;
    display: flex ;
    justify-content: space-between;
    align-items: center ;
    text-decoration: none;

}
.NavBar ul{
    display: flex ;
    margin : 0 90px ; 
    margin-right: 0%;
    text-decoration: none;

}
.NavBar ul li{
    padding: 22px; 
    align-items: center ;
    font-size: 30px ; 
    text-decoration: none;

}

/* <-----------------> logo <-----------------> */

#logo{
    padding: 15px;
    font-size: 30px;
    letter-spacing: spacing 2%;
    margin-right: 140px;
    padding: 4px;
}

#logo span{
    color: #0b426e ; 
    font-size: 49px ; 
    font-weight :700;
    
}
.hi span{
    font-size: 50px;
    margin-left: 1240px;
    color:#0e4b7e ; 
}


#feedback{
    background-color: #006699;
    margin-left: 10px;
    transition: 0.3s;
  }
  #feedback:hover{
    border-bottom-right-radius: 45px;
    background-color: #006699;
  }

  .feedbackButton button {
    border: none;
    margin-top: 20;
    width: 200px;
    height: 45px;
    outline: none;
    text-transform: uppercase; 
  }

  .giveFeedback{
    font-size:40px ; 
    color: #0e4b7e; 
    margin-left: 50px;
  }

  .feedbackErea{
    margin-left: 50px;
  }
  body{
    background-image: url('../images/d.png');
    background-size: 100%;
    background-repeat: no-repeat; 
}

